/* Base z-index used is 90 */
#floatMenu {
  z-index: 91;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  100% {
    transform: none; } }

#floatMenu {
  position: fixed;
  font-size: 0;
  text-align: center;
  bottom: 33px;
  right: 33px;
  font-family: 'SC Sans Web', sans-serif;
  color: white;
  /* transform: translate3d(0, 0, 0); */ }

#floatMenu.flm--bounce {
  animation-name: bounceInRight;
  animation-duration: 1s;
  animation-fill-mode: both; }

#floatMenu ul {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  list-style: none; }

#floatMenu ul li .flm-wrapr {
  background-color: #00b7fb;
  text-align: center;
  cursor: pointer;
  pointer-events: none; }

#floatMenu .flm-wrapr .flm-icon {
  max-width: 30px;
  max-height: 30px;
  transform: translateY(50%); }

#floatMenu ul li .flm-wrapr span {
  font-size: 13px;
  padding: 10px 0; }

#floatMenu > ul ul {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  transition-delay: 0.2s; }

#floatMenu > ul ul.flm--show {
  opacity: 1; }

#floatMenu > ul li {
  text-align: center; }

/* close icon properties */
#floatMenu > .flm-close {
  position: absolute;
  visibility: hidden;
  top: 0;
  line-height: 55px;
  width: 60px;
  height: 55px;
  opacity: 0;
  transition: opacity 0.1s ease-in-out 0.3s; }

#floatMenu > .flm-close.flm--show {
  visibility: visible;
  opacity: 1;
  z-index: 91; }

#floatMenu > .flm-close > img {
  background: black;
  padding: 10px;
  border-radius: 50%;
  vertical-align: middle;
  max-width: 12px;
  max-height: 12px; }

/* close icon properties */
/* overlay properties */
.flm-overlay {
  position: fixed;
  visibility: hidden;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 90; }

.flm-overlay.flm--show {
  visibility: visible;
  opacity: 1; }

/* overlay properties */
/* Menu level 0 properties */
#floatMenu > ul {
  position: relative;
  height: 55px;
  right: 0;
  top: 0; }

#floatMenu > ul.flm-lvl0 > li > .flm-wrapr {
  background-color: transparent;
  display: inline-block;
  line-height: 55px;
  width: 55px;
  height: 55px;
  border-radius: 70px;
  vertical-align: middle;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out, opacity 0.2s ease-in-out 0.2s;
  transform: translate3d(0, 0, 0); }

#floatMenu > ul.flm-lvl0 > li > .flm-wrapr > .flm-icon {
  width: 50px;
  /* margin-top: 6px; */
  max-width: 100px;
  max-height: 100px;
  transform: none;
  top: -5px;
  left: -10px;
  position: relative; }

#floatMenu > ul.flm-lvl0 > li > .flm-wrapr > span {
  text-transform: uppercase;
  font-size: 10px;
  white-space: normal; }

#floatMenu > ul.flm-lvl0 > li > .flm-wrapr.flm--hide {
  opacity: 0; }

#floatMenu > ul.flm-lvl0 > li > .flm-wrapr.flm--whiteout {
  opacity: 0;
  background-color: #FFF;
  width: 30px;
  height: 30px; }

#floatMenu > ul.flm-lvl0 > li > .flm-wrapr.flm--whitein {
  transition: background-color 0.4s ease-in-out 0.2s, width 0.4s ease-in-out, height 0.4s ease-in-out; }

#floatMenu > ul.flm-lvl0 > li > .flm-wrapr.flm--whitein > .flm-icon {
  visibility: hidden; }

#floatMenu > ul.flm-lvl0 > li > .flm-wrapr.flm--whiteout > .flm-icon {
  display: none; }

#floatMenu > ul.flm-lvl0 > li {
  height: 100%;
  line-height: 55px; }

#floatMenu > ul.flm-lvl0 > li li {
  line-height: normal; }

/* Menu level 0 properties */
/* Menu level 1 properties */
#floatMenu > ul > li > ul.flm-lvl1 {
  visibility: hidden;
  position: relative;
  transition: bottom 0.4s ease-in-out, opacity 0.4s ease-in-out; }

#floatMenu > ul > li > ul.flm-lvl1.flm--show {
  visibility: visible;
  z-index: 92; }

#floatMenu > ul > li > ul.flm-lvl1 > li {
  display: list-item;
  margin-bottom: 13px; }

#floatMenu > ul > li > ul.flm-lvl1 > li:last-child {
  margin-bottom: 0; }

#floatMenu > ul > li > ul.flm-lvl1 > li > .flm-wrapr {
  position: relative;
  direction: rtl;
  width: 60px;
  height: 60px;
  border-radius: 70px;
  transition: opacity 0.3s ease-in-out; }

#floatMenu > ul > li > ul.flm-lvl1 > li > .flm-wrapr.flm--hide {
  opacity: 0; }

#floatMenu > ul > li > ul.flm-lvl1 > li > .flm-wrapr > span {
  position: absolute;
  line-height: normal;
  font-size: 13px;
  top: 50%;
  transform: translateY(-50%);
  right: 70px;
  color: black; }

#floatMenu > ul > li > ul.flm-lvl1 > li[data-flm-id=rmChat] > .flm-wrapr {
  background-color: #ae9142; }

#floatMenu > ul > li > ul.flm-lvl1 > li[data-flm-id=sendMail] > .flm-wrapr > .flm-icon {
  margin-top: 8px; }

/* Menu level 1 properties */
/* Menu level 2 properties */
#floatMenu ul.flm-lvl2 {
  background-color: white;
  transform: translate3d(0, 0, 0);
  position: fixed;
  display: block;
  left: 0px;
  width: 100%;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  transition: bottom 0.4s, opacity 0.4s ease-in-out;
  bottom: 0px; }

#floatMenu ul.flm-lvl2.flm--show {
  visibility: visible;
  opacity: 1; }

#floatMenu ul.flm-lvl2 > li {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  padding: 14px 10px;
  width: 50%; }

#floatMenu ul.flm-lvl2 > li > .flm-wrapr {
  background-color: #0285D4;
  box-sizing: border-box;
  white-space: normal;
  border-radius: 20px;
  padding: 12px;
  height: 100%; }

#floatMenu ul.flm-lvl2 > li:first-child {
  padding-right: 5px; }

#floatMenu ul.flm-lvl2 > li:last-child {
  padding-left: 5px; }

#floatMenu ul.flm-lvl2 > li > .flm-wrapr > .flm-icon {
  max-width: 52px;
  max-height: 54px;
  margin-left: auto;
  margin-right: auto;
  transform: none; }

#floatMenu ul.flm-lvl2 > li > .flm-wrapr > span {
  display: block; }

#floatMenu ul.flm-lvl2 > li > .flm-wrapr > .flm-divider {
  border-top: 1px solid white;
  padding-bottom: 5px;
  width: 60%;
  display: inline-block;
  opacity: 0.7; }

#floatMenu ul.flm-lvl2 > li > .flm-wrapr > .flm-other {
  width: 100%;
  font-size: 13px;
  line-height: 13px;
  opacity: 0.7;
  overflow-wrap: normal; }

#floatMenu ul.flm-lvl2 > li > .flm-wrapr > span {
  line-height: 15px; }

/* Menu level 2 properties */
div#flmTooltip {
  min-height: 40px;
  opacity: 0;
  box-sizing: border-box;
  position: fixed;
  background-color: #FFFFFF;
  font-family: 'SC Sans Web', sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  color: #333333;
  border-radius: 5px; }

div#flmTooltip .flm-tooltip-content {
  min-height: 40px;
  line-height: 40px;
  position: relative;
  box-sizing: border-box;
  z-index: 9998;
  width: 100%;
  padding: 5px 15px;
  font-size: 13px;
  background: #FFFFFF;
  border-radius: 5px; }

div#flmTooltip .flm-tooltip-content * {
  vertical-align: middle; }

div#flmTooltip .flm-tooltip-content img {
  width: 16px;
  height: 16px; }

div#flmTooltip .flm-tooltip-pointer {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0; }

div#flmTooltip .flm-position--top {
  left: calc(50% - 5px);
  bottom: -5px;
  border: 5px solid;
  border-color: #FFFFFF transparent transparent #FFFFFF;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4);
  transform: rotate(225deg); }

div#flmTooltip .flm-position--left {
  left: calc(100% - 5px);
  top: 15px;
  border: 5px solid;
  border-color: #FFFFFF #FFFFFF transparent transparent;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4);
  transform: rotate(45deg); }

div#flmTooltip .flm-position--right, div#flmTooltip .flm-position-bottom {
  display: none; }

div#flmTooltip.flm-tooltip--show {
  opacity: 10;
  transition: opacity 500ms; }

div.amn-chkbox {
  width: calc(100% - 20px);
  border: 1px #cccccc solid;
  background-color: white;
  padding: 10px;
  border-radius: 4px; }
  div.amn-chkbox > .amn-chkbox-tickbox {
    float: left;
    width: 15px;
    height: 15px;
    border: 1px solid #cccccc;
    background-color: #FFF; }
  div.amn-chkbox.amn-chkbox--checked {
    background-color: #EDF6EC; }
    div.amn-chkbox.amn-chkbox--checked > .amn-chkbox-tickbox {
      background-color: #00A546; }

div.c-badge {
  position: fixed;
  min-width: 14px;
  height: 14px;
  background: red;
  color: white;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  opacity: 0;
  z-index: 100; }
  div.c-badge.c-badge--show {
    opacity: 1;
    transition: opacity 500ms; }

div.cnk-frame {
  z-index: 300;
  display: none;
  background: #f9f9f9;
  display: none;
  position: fixed;
  border-radius: 10px;
  text-align: center;
  width: 375px;
  height: 536px;
  bottom: 33px;
  right: 33px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  @media (min-height: 655px) {
    div.cnk-frame {
      height: 586px; } }
  div.cnk-frame.cnk-frame--show {
    display: block; }
  div.cnk-frame.cnk-frame--noHeader > div.cnk-html-slot {
    height: 100%; }
  div.cnk-frame.cnk-frame--noHeader > div.cnk-frame-header {
    display: none; }
  div.cnk-frame > div.cnk-frame-header {
    height: 50px;
    line-height: 50px;
    background-color: #005670; }
    div.cnk-frame > div.cnk-frame-header.cnk-frame-header--bright {
      background-color: #0091ea; }
    div.cnk-frame > div.cnk-frame-header .cnk-frame-heading {
      color: #fff;
      font-family: 'SC Sans Web', sans-serif;
      font-size: 18px;
      font-weight: bold; }
  div.cnk-frame > div.cnk-html-slot {
    height: calc(100% - 50px); }
    div.cnk-frame > div.cnk-html-slot.cnk-frame--hide {
      display: none; }
  div.cnk-frame > .cnk-default-iframe {
    border: none;
    width: 100%;
    height: calc(100% - 50px);
    border-radius: 10px; }
  div.cnk-frame > .cnk-minimize {
    position: absolute;
    top: 0px;
    margin: 22px 20px;
    cursor: pointer;
    width: 21px; }
    div.cnk-frame > .cnk-minimize.cnk-minimize--right {
      right: 0px; }
    div.cnk-frame > .cnk-minimize.cnk-minimize--left {
      left: 0px; }
  div.cnk-frame > .cnk-more {
    position: absolute;
    color: white;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    cursor: pointer; }
    div.cnk-frame > .cnk-more.cnk-more--hide {
      display: none; }
    div.cnk-frame > .cnk-more > span {
      display: block;
      font-size: 25px;
      position: relative;
      top: 3px; }
    div.cnk-frame > .cnk-more > .cnk-more-menu {
      display: none;
      min-width: 140px;
      position: absolute;
      background-color: white;
      border: 1px solid #ccc;
      color: #000;
      list-style: none;
      padding: 0px;
      margin: 0px;
      right: 10px;
      font-family: 'SC Sans Web', 'SC Sans', Helvetica, Arial, sans-serif;
      font-size: 16px; }
      div.cnk-frame > .cnk-more > .cnk-more-menu li {
        padding: 8px 5px; }
        div.cnk-frame > .cnk-more > .cnk-more-menu li:hover {
          background-color: #ccc; }
      div.cnk-frame > .cnk-more > .cnk-more-menu.cnk-more-menu--show {
        display: block; }
  div.cnk-frame > .cnk-loading {
    display: none;
    position: absolute;
    width: 50px;
    left: calc(100%/2 - 25px);
    top: calc(100%/2 - 25px); }
    div.cnk-frame > .cnk-loading.cnk-loading-show {
      display: inline-block; }

#rmTerms {
  height: calc(100% - 40px);
  font-family: 'SC Sans Web', sans-serif;
  margin: 20px;
  position: relative; }
  #rmTerms > img.tc-scbLogo {
    width: 200px; }
  #rmTerms > h1 * {
    color: #0756af;
    font-size: 28px; }
  #rmTerms > h1 .tc-name {
    font-size: 21px; }
  #rmTerms > .tc-main {
    font-size: 16px;
    margin-top: 40px; }
  #rmTerms > #tcCheck {
    margin-top: 40px; }
    #rmTerms > #tcCheck * {
      font-size: 16px; }
  #rmTerms > button.tc-btn-continue {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
    padding: 10px;
    height: 44px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #00A546;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
    cursor: pointer; }
    #rmTerms > button.tc-btn-continue.tc-disabled {
      background-color: #CCCCCC; }
  #rmTerms.rm-terms--hide {
    display: none; }

#rmContainer {
  height: 100%;
  width: 100%; }
  #rmContainer.rmc-container--hide {
    display: none; }
  #rmContainer iframe {
    border: none; }

#chatBotIFrame {
  border: none;
  height: 100%;
  width: 100%; }
  #chatBotIFrame.cbot-frame--hide {
    display: none; }

#c2cMainCounter {
  z-index: 100; }

#floatMenu > .flm-close > img {
  box-sizing: content-box; }

#rmTerms > button.tc-btn-continue {
  text-transform: none; }

