span.Orrbutton, span.Orrbutton input {
    background: transparent url(../images/button_14.png) no-repeat;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 25px;
    width: 218px;
    overflow: visible;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-position: right 0;
}

span.Orrbutton, span.Orrbutton input {
	
}

span.Orrbutton {
    background: transparent url(../images/button_14.png) no-repeat;
}

span.Orrbutton input {
    background: transparent url(../images/button_14.png) no-repeat;
}

span.Orrbutton:hover, span.Orrbutton-behavior-hover {
	background: transparent url(../images/banner_button_14.png) no-repeat;
}

span.Orrbutton:hover input, span.Orrbutton-behavior-hover input {
	background: transparent url(../images/banner_button_14.png) no-repeat;
}

span.Orrbutton input {
	_behavior: expression(
		(function(el){
			if( typeof( behavior_onMouseEnterBack) == 'undefined'){
				behavior_onMouseEnterBack = function(el){
					var dEl = this.parentNode;
					var sClass = dEl.className;
					dEl.__defaultClassName = sClass;
					dEl.className = sClass + ' Orrbutton-behavior-hover';
					this.setCapture();
				};

				behavior_onMouseLeaveBack = function(el) {
					var dEl = this.parentNode;
					dEl.className = dEl.__defaultClassName;
					dEl.__defaultClassName = undefined;
					this.releaseCapture();
				};
			};

			el.runtimeStyle.behavior = 'none';
			el.onmouseenter = behavior_onMouseEnterBack;
			el.onmouseleave = behavior_onMouseLeaveBack;
		})(this));
}

@-moz-document url-prefix(http) {
	span.Orrbutton, span.Orrbutton input {
	    
	}
}