 @font-face {
        font-family: 'SC Sans Web Light';
        src: url("../fonts/sc-sans-web-light.eot");
        src: url("../fonts/sc-sans-web-light.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/sc-sans-web-light.woff2") format("woff2"), 
        url("../fonts/sc-sans-web-light.woff") format("woff"), 
        url("../fonts/sc-sans-web-light.ttf") format("truetype"), 
        url("../fonts/sc-sans-web-light.svg#sc-sans-web-light") format("svg");
        font-weight: 300;
        font-style: normal;
        font-stretch: normal; }
 @font-face {
        font-family: 'SC Sans Web Regular';
        src: url("../fonts/sc-sans-web-regular.eot");
        src: url("../fonts/sc-sans-web-regular.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/sc-sans-web-regular.woff2") format("woff2"), 
        url("../fonts/sc-sans-web-regular.woff") format("woff"), 
        url("../fonts/sc-sans-web-regular.ttf") format("truetype"), 
        url("../fonts/sc-sans-web-regular.svg#sc-sans-web-regular") format("svg");
        font-weight: 100;
        font-style: normal;
        font-stretch: normal; }
	.st-sc-page-header {
       /* letter-spacing: -.31em; */
       text-rendering: optimizespeed;
       -webkit-flex-flow: row wrap;
       display: -ms-flexbox;
       -ms-flex-flow: row wrap;
       -ms-align-content: flex-start;
       -webkit-align-content: flex-start;
       align-content: flex-start;
	}
    
    .soft-token-hr {
    	border-top: 1px solid #ccc;
        width: 100%;
        height: 5px;
	}
    
    .st-footer {
    	height: 25px;
    }    
	
	.overlay {
		position: fixed;
		height: 100%;
		width: 100%;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #ffffff;
		overflow-x: hidden;
		opacity: 0.9;
		display: none
	}
	
	.-seconds {
	  width: 82px;
	  height: 18px;
	  font-family: SCSans;
	  font-size: 15px;
	  text-align: left;
	  color: #8e8e8e;
	}
	
  	.st-content {
         font-family: "SC Sans Web Regular", san-serif;
         font-weight: bold;
         color: #272727;
         font-size: 13px;
    }
    .st-notes {
         font-family: "SC Sans Web Regular", san-serif;
         font-weight: bold;
         color: #909090;
         padding-top: 15px;
         font-size: 13px;
    } 
    .st-subheader {
         font-family: "SC Sans Web Regular", san-serif;
         text-align: center;
         color: #56B6F1;
         padding-bottom: 40px;
         font-size: 22px;
    }
    .st-step {
         font-family: "SC Sans Web Regular", san-serif;
         font-weight: bold;
         color: #56B6F1;
         padding-top: 5px;
         padding-bottom: 6px;
         font-size: 15px;
    }
	.st-sc-page-header-title {
         font-family: "SC Sans Web Light",san-serif!important;
         color: #0cf!important;
         padding-bottom: 15px!important;
         font-size: 25px!important;
     }   
  	.resend_btn_disabled {
		background-color:#dcdee2;
		border-radius: 5px;
		border-color:white;
		width: 220px;
		height: 38px;
		text-transform: uppercase;
		font-size: 12.5px;
	}
	.resend_lower_btn {
		background-color: #0091EA;
		border-radius: 5px;
		border-color:white;
		width: 220px;
		height: 38px;
		color: #f2f2f2;
		font-size: 12.5px;
		cursor: pointer;
	}
	.resend_btn {
		background-color: #0091EA;
		border-radius: 5px;
		border-color:white;
		width: 220px;
		height: 38px;
		color: #f2f2f2;
		font-size: 12.5px;
		text-transform: uppercase;
		cursor: pointer;
	} 
  	.tsp-content {
         font-family: "SC Sans Web Regular", san-serif;
         font-weight: bold;
         color: #272727;
         font-size: 12px;
    }
    .tsp-notes {
         font-family: "SC Sans Web Regular", san-serif;
         font-weight: bold;
         color: #909090;
         padding-top: 15px;
         font-size: 12px;
    }